
<div ng-controller="listController">
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <title-directive title="Lista de Personagens">
                Limite de 10 Personagens
            </title-directive> 
            <input class="form-control mb-4" type="text" ng-model="search" placeholder="O que você está buscando?"/>
            <div class="row">
                <div class="col-lg-4 mb-4" ng-repeat="result in results | filter:search">
                    <div class="portfolio-item">
                        <a class="portfolio-link" href="#!/details/{{result.id}}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                            <img class="img-fluid" src="{{result.thumbnail.path}}.{{result.thumbnail.extension}}" alt="..." />
                            </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{result.name | uppercase}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>